body{
    background:#000;
    color:#fff;
    font-family:monospace;
}

.page{
    max-width:600px;
    margin-top:20vh;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    padding:10px;
    /*border:0.5px solid rgba(255, 0, 0, 0.5);*/
}

.eye,
p,
a{
    color:red;
}

a:hover{
    color:darkred;
}